body{

font-family:Arial;
margin:0;
background:#f5f5f5;
font-size: 1.2em;
}

header{

background:white;
padding:15px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);

}

.busca{

width:100%;
padding:10px;
border-radius:10px;
border:1px solid #ccc;

}

.destinos{

padding:15px;

}

.card{

background:white;
border-radius:15px;
overflow:hidden;
margin-bottom:20px;
box-shadow:0 4px 15px rgba(0,0,0,0.1);

}

.card img{

width:100%;
height:200px;
object-fit:cover;

}

.info{

padding:15px;

}

.info a{

display:inline-block;
margin-top:10px;
background:#113e91;
color:white;
padding:8px 15px;
border-radius:8px;
text-decoration:none;

}

.menu{

position:fixed;
bottom:0;
width:100%;
background:white;
display:flex;
justify-content:space-around;
padding:12px;
box-shadow:0 -3px 10px rgba(0,0,0,0.2);

}

.menu a{

font-size:24px;
text-decoration:none;

}

.foto-destino{

width:100%;
height:250px;
object-fit:cover;

}

.conteudo{

padding:20px;

}

.botao-reserva{

display:block;
background:#2e367d;
color:white;
padding:15px;
text-align:center;
border-radius:10px;
text-decoration:none;

}

.login{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#2e367d;;

}

.login-card{

background:white;
padding:30px;
border-radius:15px;
text-align:center;

}

input,select{

width:100%;
padding:10px;
margin:10px 0;

}

button{

background:#2e367d;;
color:white;
border:none;
padding:10px;
border-radius:8px;

}
.pagamento{

padding:20px;

}

.pagamento img{

display:block;
margin:20px auto;

}

.pagamento button{

width:100%;
margin:8px 0;

}
.pag-bg{

background:linear-gradient(135deg,#1b5e20,#4caf50);
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;

}

.pag-container{

background:white;
width:90%;
max-width:400px;
padding:25px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.3);

}

.sub{

color:#777;
margin-bottom:20px;

}

.resumo{

background:#e8f5e9;
padding:15px;
border-radius:12px;
margin-bottom:20px;

}

.preco{

font-size:22px;
font-weight:bold;
color:#2e367d;;

}

.metodos{

display:flex;
gap:10px;
margin:15px 0;

}

.metodo{

flex:1;
padding:10px;
background:#f1f1f1;
text-align:center;
border-radius:10px;
cursor:pointer;

}

.metodo.active{

background:#0a19df;
color:white;

}

.box{

margin-top:10px;

}

.hidden{

display:none;

}

input{

width:100%;
padding:12px;
margin:8px 0;
border-radius:10px;
border:1px solid #ccc;

}

.pix-chave{

text-align:center;
font-weight:bold;

}

.wallet{

width:100%;
margin:8px 0;
padding:12px;
border:none;
border-radius:10px;
background:#f5f5f5;
cursor:pointer;

}

.doacao{

width:100%;
padding:10px;
margin-top:10px;
border-radius:10px;

}

.finalizar{

width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:#0f24e2;
color:white;
font-size:16px;
font-weight:bold;
cursor:pointer;

transition:0.3s;

}

.finalizar:hover{

background:#1b385e;

}
.leaflet-popup-content{

font-family:Arial;

}

.leaflet-popup-content h3{

margin:5px 0;

}

.leaflet-popup-content a{

text-decoration:none;
font-weight:bold;

}
.top-ui{

position:absolute;
top:10px;
left:50%;
transform:translateX(-50%);
background:white;
padding:10px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
z-index:1000;
display:flex;
gap:10px;

}

.top-ui input,
.top-ui select{

padding:8px;
border-radius:10px;
border:1px solid #ccc;

}
.btn-voltar{

position:fixed;
top:15px;
left:15px;
background:#2e7d32;
color:white;
border:none;
padding:10px 15px;
border-radius:12px;
font-size:14px;
cursor:pointer;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
z-index:2000;
transition:0.3s;

}

.btn-voltar:hover{

background:#1b5e20;

}